// Game styling

.game {
  position: relative;
  margin: 3em auto;
  width: 90%;
  max-width: 35em;

  &__canvas {
    display: block;
    width: 100%;
    animation: rotateCanvas linear 12s infinite;
  }

  &__answer {
    position: absolute;
    transform: translate(-50%, -50%);
    font-weight: 100;
    padding: 0;
    background: transparent;
    border: 1px solid var(--background-lighter);
    border-radius: 100%;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;

    &[disabled] {
      pointer-events: none;
      color: var(--text-lighter);
    }

    @media (min-width: 700px) {
      font-size: 1.2rem;
    }

    &:hover {
      background-color: var(--background-lighter);
    }

    &:focus {
      background-color: var(--colour);
      color: var(--background);
      outline: none;
    }
  }

  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid var(--background-lighter);
    padding: calc(1em + 1vw);
    border-radius: 100%;
    cursor: pointer;
    transition: border-color 0.15s;

    &:hover {
      border-color: var(--text-lighter);
    }

    &:focus {
      border-color: var(--colour);
      outline: none;
    }

    &__icon {
      display: block;
      width: calc(1.2em + 1.5vw);
      height: calc(1.2em + 1.5vw);
      pointer-events: none;
      transition: opacity 0.15s;
    }

    &[disabled] {
      pointer-events: none;
      transition: none;
    }

    &[disabled] &__icon {
      transition: none;
      opacity: 0.15;
    }
  }

  &__score {
    position: fixed;
    bottom: 1em;

    &--left {
      left: 1em;
    }

    &--right {
      right: 1em;
    }
  }
}

@keyframes rotateCanvas {
  to {
    transform: rotate(360deg)
  }
}