// Game styling

.game {
  position: relative;
  margin: 3em auto;
  width: 90%;
  max-width: 35em;

  &__canvas {
    display: block;
    width: 100%;
    animation: rotateCanvas linear 12s infinite;
  }

  &__answer {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid var(--background-lighter);
    padding: calc(1em + 1vw);
    border-radius: 100%;
    cursor: pointer;
    transition: border-color 0.15s;

    &:hover {
      border-color: var(--text-lighter);
    }

    &:focus {
      border-color: var(--colour);
    }

    &__icon {
      display: block;
      width: calc(1.2em + 1.5vw);
      height: calc(1.2em + 1.5vw);
      pointer-events: none;
    }
  }

  &__score {
    position: fixed;
    bottom: 1em;

    &--left {
      left: 1em;
    }

    &--right {
      right: 1em;
    }
  }
}

@keyframes rotateCanvas {
  to {
    transform: rotate(360deg)
  }
}